<head>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<h1>
			Memo <span> list</span>
		</h1>
		<h2>
			A simple memo app built with node
		</h2>
	</header>
	
	<section class="form">
		<input type="text" id="memoInput" placeholder="Insert your memo here...">
	</section>
	
	<ul class="list">
		
	</ul>
	
	
	<script type="text/javascript" src="app.js"></script>
</body>